header{
    background-color: lavender;
    border: 3px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}
#cuadrado1{
    background-color: lightsteelblue;
    border: 3px; color: black;
    text-align: center;
    height: 200px;
    
}
 

#cuadrado2{
    background-color: lightpink;
    border: 3px; color: darkmagenta;
    text-align: center;
    height: 200px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cuadrado3{
    background-color: lightyellow;
    border: 3px; color:lavender;
    text-align: center;
    height: 200px;

}

#aside{
    background-color: lightblue;
    border: 3px; color: dodgerblue;
    text-align: center;
    height: 400px;
    margin: auto;

}

#footer{
    background-color:lightslategray;
    color:ghostwhite;
    text-align: center;

}